body {
    text-align: left;
    background-color: #90caf9;
    font-family:Verdana;
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: left;
}

li{
    display: inline;
}

#nav-wrapper a:link {
    text-decoration: none; 
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color:#42a5f5;
}

a:hover, a:active{
    color:#bbdefb; 
    
}

#options:link, #options:visited {
    width: 200px;
    color:white;
    text-align: left;
    padding: 4px;
    font-size: 20px;
}

#options:hover, #options:active{
    color:#bbdefb; 
}

#logo{
    color: #64b5f6;
    font-size: 50px; 
    font-weight: bold;
}

#nav-side{
    line-height: 30px; 
    height:500px; 
    width:275px; 
    float:right;
    padding:5px; 
    font-size: 25px;
    color:#42a5f5; 
    font-weight: 10;
    position: fixed ;
    right: 0;
}

img:hover{
    opacity: 0.4;
}



